<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- --- EXTERNAL --- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- ----FONT--- -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <!-- --------- MY STYLE ------------ -->
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>
<body>
    <div class="container-fluid">

        <!-- INIZIO MY APP----------- -->

        <div id="myApp" class="container">

            <!-- LEFT SECTION----------- -->
            <div id="left_section">

                <!-- USER HEADER----- -->
                <div id="user_header">
                    <div class="users_block">
                        <img :src="'img/avatar' + user.avatar + '.jpg'" alt="">
                        <span class="users_block_username">{{user.name}}</span>
                    </div>
                    <div id="user_header_settings">
                        <ul class="menu_inline">
                            <li><i class="fas fa-circle-notch"></i></li>
                            <li><i class="fas fa-comment-alt"></i></li>
                            <li><i class="fas fa-ellipsis-v"></i></li>
                        </ul>
                    </div>
                </div>

                <!-- NOTIFICATIONS---- -->
                <div id="notifications_section">
                    <span><i class="fas fa-bell-slash"></i></span>
                    <div>
                        <p class="strong">Ricevi notifiche di nuovi messaggi</p>
                        <p class="caption"><a href="#">Attiva notifiche desktop</a></p>
                    </div>
                </div>

                <!-- SEARCH BAR---- -->
                <div id="search_bar_section">
                    <label for="search" class="bg_white"><i class="fas fa-search"></i></label>
                    <input class="bg_white" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>

                <!-- CHATLIST----- -->
                <div id="chat_list_section" class="bg_white">
                    <!-- <div v-for="(contact, index) in contacts" 
                    :class="{active:selected[0] == contact}" @click="selected.splice(0),selected.push(contact)" class="users_block users_chat">
                        <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                        <span class="users_block_username">{{contact.name}}</span>
                    </div> -->
                    <div v-for="(contact, index) in contacts" 
                    :class="{active:index == activeChat}" @click="activeChat = index" class="users_block users_chat">
                        <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                        <span class="users_block_username">{{contact.name}}</span>
                    </div>
                </div>
            </div>


            <!-- RIGHT SECTION----------- -->
            <div id="right_section">


                <!-- HEADER CHAT----- -->
                <div id="header_chat">
                    <div v-if="activeChat != -1" class="users_block">
                        <img :src="'img/avatar' + contacts[activeChat].avatar + '.jpg'" alt="">
                        <span class="users_block_username">{{contacts[activeChat].name}}</span>
                    </div>
                    <div v-else class="users_block"></div>

                    <div id="header_chat_settings">
                        <ul class="menu_inline">
                            <li><i class="fas fa-search"></i></li>
                            <li><i class="fas fa-paperclip"></i></li>
                            <li><i class="fas fa-ellipsis-v"></i></li>
                        </ul>
                    </div>
                </div>

                <!-- MESSAGE SECTION---- -->
                <div v-if="activeChat != -1" id="message_section">
                    <div v-for="message in contacts[activeChat].messages" class="message_row":class="(message.status == 'received')?'message_received':'message_sent'">
                        <div class="message_cloud" >{{message.text}}</div>
                    </div>                         
                </div>
                <div v-else id="message_section"></div>

                <!-- INPUT SECTION---- -->
                <div id="input_message_section">
                    <div><i class="far fa-smile"></i></div>
                    <div id="message_input"><input type="text" placeholder="Scrivi un messaggio"></div>
                    <div><i class="fas fa-microphone"></i></div>
                </div>
            </div>
        </div>

        <!-- FINE MY APP------------- -->
    </div>

    <script src="js/main.js"></script>
</body>
</html>